*{
    padding: 0;
    margin: 0;
}

.attribution { 
    font-size: 11px;
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%);
}

body{
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-design{
    background-color: hsl(213, 19%, 13%);
    max-width: 340px;
    padding: 30px;
    border-radius: 30px;
    min-height: 340px;
}

.icon-star{
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-numbers{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.rating-numbers span{
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.3s;
    font-weight: 700;
}

.rating-numbers span:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
    cursor: pointer;
}

.rating-numbers span:active, span.rating-active{
    background-color: hsl(216, 12%, 54%);
    color: white;
}

h2{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1.7em;
}

p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5;
}

button{
    background-color: hsl(25, 97%, 53%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px;
    border:none;
    border-radius: 20px;
    letter-spacing: 0.1em;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.9em;
}

button:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thank-you-img{
    margin: 15px auto 20px auto;
    width: 160px;
}

.selected-stars{
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 35px auto;
    padding: 5px 20px;
    border-radius: 20px;
}

.thank-you-state{
    text-align: center;
    display: none;
}